#{extends 'main.html' /}
#{set title:'Home' /}

<h1 id="main">Welcome to the Casino!</h1>

<p>Feedback is always welcome. You can find us at the play! mailing list or on: <a href="http://github.com/reyez/casino-play/">http://github.com/reyez/casino-play</a></p>

<p>Casino! provides the following end points:</p>

<ul>
<li><a href="/login">/login </a></li>
<li><a href="/logout">/logout </a></li>
<li><a href="/registration">/registration (sign up new user)</a></li>
<li><a href="/registration/lostpassword">/registration/lostpassword (password recovery)</a></li>
</ul>

<p>You can also check out the full life cycle in test case RegistrationLifecycle.test.html</p>