#{extends 'main.html' /}
#{set title:'Home' /}

<h1 id="main">Welcome to play-siena-user test module</h1>
<p>If you can read this everything is fine :) </p>
<p>play-siena-user provides the following endpoints:</p>

<p>applicatin.conf has set a transport uri guarnatee => therefore stuff will only work on localhost:9000 NOT on 127.0.0.1:9000... (application.conf and playsienauser.fixedUrl=http://127.0.0.1:9000)</p>

<ul>
<li><a href="/login">/login </a></li>
<li><a href="/logout">/logout </a></li>
<li><a href="/registration">/registration (sign up new user)</a></li>
<li><a href="/registration/lostpassword">/registration/lostpassword (password recovery)</a></li>
</ul>

<p>You can also check out the full lifecycle in testcase RegistrationLifecycle.test.html</p>

<p>Feedback is always welcome. You can find us at <a href="http://code.google.com/p/play-siena-user/">http://code.google.com/p/play-siena-user/</a></p>
<p>See you there :)</p>