*.DS_Store

/dist
/casino/dist
/casino/eclipse
/casino/logs
/casino/lib
/casino/modules
/casino/recaptcha-1.2
/casino/siena-2.0.6
/casino/test
/casino/test-result
/casino/tmp
/casino/.project
/casino/.classpath
/casino/.settings

/casino-test/dist
/casino-test/eclipse
/casino-test/logs
/casino-test/modules
/casino-test/recaptcha-1.2
/casino-test/siena-2.0.6
/casino-test/test
/casino-test/test-result
/casino-test/tmp
/casino-test/.project
/casino-test/.classpath
/casino-test/.settings
/casino-test/lib

